/*Copyright by Antonio Romero Bravo*/
/*Configuración inicial*/
body {
    min-width: 350px;
    background-color: rgba(0, 0, 0, 0.5);
    background-position: center 0px;
    background-size: 2600px;
    background-image: url("../img/fondo.jpg");
    background-blend-mode: luminosity;
    background-attachment: fixed;

    display: flex;
    flex-direction: column;
    align-items: center;
}

/*Fonts ------------------------*/
h1 {
    font-size: 3rem;
    font-family: 'Cinzel', serif;
}

.tl-content h1 {
    font-size: 2rem;
}

h2 {
    font-size: 2.5rem;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

.tl-content h2 {
    color: black;
    font-weight: bold;
    font-size: 1.5rem;
    text-shadow: 2px 2px 2px orange;
}

h3 {
    font-size: 2rem;
    font-family: 'Cinzel', serif;
}

p {
    font-size: 1.3rem;
    font-family: 'PT Sans', sans-serif;

}

span {
    font-size: 1rem;
    font-family: 'PT Sans', sans-serif;
    color: black;
    text-shadow: 2px 2px 2px orange;
}

.section-heading span {
    color: black;
    font-size: 1.6rem;
    font-family: 'Cinzel', serif;
}

a.nav-link:hover {
    font-weight: bold;
    color: white;
}

a.nav-link:focus {
    color: greenyellow;
}

/*Fondos rellenos*/
.img_back {
    background-image: url("../img/degradados.png");
    background-position: center 0px;
    background-attachment: fixed;
    background-blend-mode: soft-light;
}

/*Margen entre el menu y la página*/
.margin {
    margin-top: 50px;
}

section {
    margin: 5px;
    width: 100%;
    min-width: 350px;
}

/*NAVBAR --------Barra de navegación-----------------------*/
.sin_borde {
    border: none;
    background-color: rgba(255, 174, 0);
    padding: inherit;
}

/*Botón navbar en modo colapsado*/
.navbar-toggler {
    margin-top: 15px;
    margin-bottom: 5px;
    margin-left: 25px;
    background-color: rgba(255, 174, 0);
    border: 1px rgb(255, 255, 255) solid;
}

/*Controla el area del botón colapsado*/
.navbar {
    margin-top: -10px;
    border: none;
    min-width: 300px;
    background-color: rgba(0, 0, 0, 0);

}

/*Area del menu/enlaces */
.collapse {
    max-width: 1024px;
    margin: auto;
    padding: 10px;
}

.navbar-collapse {
    align-items: center;
    justify-content: space-between;
}

.navbar-brand {
    font-family: 'Cinzel', serif;
}



@media screen and (max-width: 767px) {
    .icon_nav {
        display: none;
    }
}



/*Hero ---------------------------------------------*/
.hero {
    margin: auto;
    padding: 10px;
    max-width: 1024px;
    color: white;
    background-color: rgba(255, 166, 0, 0.5);
    text-align: center;
    text-shadow: 3px 3px 3px black;
    border-radius: 10px;
    border: 1px white solid;
    /*margin-top: 80px;*/
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img-hero {
    border-radius: 50%;
    width: 300px;
    height: 300px;
    border: 5px rgba(255, 255, 255, 0.301) solid;
    display: flexbox;
    align-items: center;
}



.img_skills {
    margin: 0px 75px;
    max-width: 800px;
    min-width: 350px;
}

.h_text {
    max-width: 500px;
    margin: auto;
}

/*About me -------------------------------------*/

.back_yellow {
    padding: 20px;
    color: black;
    text-align: center;
    background-color: rgba(255, 215, 120, 0.7);
    border-top: 4px rgba(255, 174, 0) solid;
    border-bottom: 4px rgba(255, 174, 0) solid;
}

.back_yellow h2 {
    font-weight: bold;
}

.area_am {
    width: 100%;
    padding: 10px;
}

.about_me {
    max-width: 500px;
    margin: auto;
    text-shadow: 4px 4px 4px rgb(255, 174, 0);
}

/*Skill ------------------------------------------*/
.back_black {
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.25);
    border-top: 4px rgb(255, 255, 255) solid;
    border-bottom: 4px rgb(255, 255, 255) solid;
}

.back_black h2 {
    font-weight: bold;
}

.orden_sk {
    margin: auto;
    display: flex;
    flex-wrap: wrap;

}

.cont_sk ol {
    list-style-type: none;

}

.cont_sk li {
    font-size: 1.4rem;
    text-align: left;
}

.cont_sk {
    color: rgba(255, 174, 0);
    text-align: center;
    flex: 1 1 300px;
    text-shadow: 2px 2px 2px black;
    border: 2px rgb(228, 174, 0) solid;
    border-radius: 10px;
    margin: 2px;
    padding: 4px;
}

/*Iconos de bootstrap - tratados como texto*/
.bi {
    font-size: 50px;
    color: whitesmoke;
    margin: 10px;
}

.bi:hover {
    color: greenyellow;
}

/*Projects -------------------------------------*/
.margin {
    margin-top: 70px;
}

.product-item {
    padding: 25px;
}

.product-item-title {
    padding-bottom: 15px;
}

.ajuste {
    width: 100%;
}

.projects_area {
    max-width: 1024px;
    color: white;
    background-color: rgba(255, 166, 0, 0.5);
    text-align: center;
    text-shadow: 2px 2px 2px rgb(0, 0, 0);
    border-radius: 10px;
    border: 1px white solid;
    display: flex;
    flex-direction: column;
}



.projects_area a {
    color: greenyellow;
    text-shadow: 2px 2px 2px rgb(0, 0, 0);
}

.projects_area a:hover {
    color: blueviolet;
    text-shadow: 2px 2px 2px rgb(255, 174, 0);
}

.bg-faded {
    background-color: rgba(255, 166, 0, 0.5);
}

.section-heading {
    font-size: 2rem;
    text-transform: uppercase;
    text-shadow: 2px 2px 2px rgb(255, 174, 0);
    max-width: 600px;
    margin: left;
}

.section-heading span {
    display: block;
    text-align: left;
}



@media (min-width: 900px) {
    .ajuste {
        width: auto;
    }

    .product-item .product-item-title {
        position: relative;
        z-index: 1;
        margin-bottom: -4rem;
    }

    .product-item .product-item-img {
        position: relative;
        z-index: 0;
        max-width: 800px;
    }

    .product-item .product-item-description {
        text-align: left;
        position: relative;
        z-index: 1;
        margin-top: -4rem;
        max-width: 1000px;
    }
}


/*Foot*/
.stylefoot {
    width: 100%;
    padding: 25px;
    background-color: rgba(255, 166, 0, 0.5);
    color: white;

}

.foot {
    margin: auto;
    padding: 0;
    display: flex;
    justify-content: center;

}

.foot p {
    font-size: 0.8em;
}


@media screen and (max-width: 350px) {

    .hero {
        margin-left: 75px;
    }

    .area_am {
        min-width: 450px;
        padding-left: 50px;
        margin-left: 25px;
    }

    .stylefoot {
        min-width: 450px;
        padding-left: 100px;
        margin-left: 25px;
    }
}

/*------------------------------- CV --------------------------------------*/
.cv {
    margin: auto;
    width: 100%;
    color: white;
    background-color: rgba(255, 166, 0, 0.5);
    text-align: center;
    text-shadow: 2px 2px 2px black;
    border-radius: 10px;
    border: 1px white solid;
    display: flex;
    flex-direction: column;
    align-items: center;

}

em {
    border: 1px white solid;
    padding: 1px 10px 4px;
    margin: 0px 2px;
    font-size: 1.1rem;
    font-weight: bold;
    background: #ffc508;
}

.cv a {
    color: greenyellow;
    text-shadow: 2px 2px 2px rgb(0, 0, 0);
    text-decoration: none;
    border: 1px greenyellow solid;
    border-radius: 5px;
    padding: 2px 20px 5px;
    background-color: rgba(172, 255, 47, 0.2);
}

.cv a:hover {
    color: white;
    text-shadow: 2px 2px 2px black;
    border: 1px white solid;
    background-color: rgba(255, 255, 255, 0.2);
}

/*Definimos lugar y parámetros de la linea vertical*/
.cvline {
    position: relative;
    padding: 2em 0;
    margin-top: 2em;
    margin-bottom: 2em;
}

/*Representamos la linea vertical antes del contenido */
.cvline:before {
    content: '';
    position: absolute;
    top: 0;
    left: 10px;
    height: 100%;
    width: 6px;
    background: rgb(255, 174, 0);
}

.time-line {
    /*border: 1px red solid;*/
    margin: 20px;
    width: 100%;
}

/*tarjetas*/
.tl-block {
    position: relative;
    margin: 2rem;
}

.tl-block:after {
    content: "";
    display: table;
    clear: both;
}

.tl-block:first-child {
    margin-top: 0;
}

.tl-block:last-child {
    margin-bottom: 0;
}

/*Círculos linea tiempo*/
.tl-point {
    position: absolute;
    top: 14px;
    left: -23px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    box-shadow: 0 0 0 5px rgba(255, 174, 0);
    background-color: white;
}

.tl-content {
    padding: 10px;
    position: relative;
    border-radius: 0px 0px 10px 10px;
    background-color: rgba(255, 215, 120, 0.7);
    border-top: 6px rgba(255, 174, 0) solid;
}

.tl-content:after {
    content: "";
    display: table;
    clear: both;
}

.tl-content:before {
    content: '';
    position: absolute;
    top: 5px;
    right: 100%;
    height: 0px;
    width: 0px;
    border: 7px solid transparent;
    border-right: 10px solid rgba(255, 174, 0);
}


/*-----------------Pantallas mas grande-----------------------------------*/
@media only screen and (min-width: 900px) {
    .cv {
        max-width: 1024px;
    }

    .cvline::before {
        left: 49.75%;
    }

    .tl-block {
        margin: 3%;

    }

    .tl-block:first-child {
        margin-top: 0;
    }

    .tl-block:last-child {
        margin-bottom: 0;
    }

    /*Posición y tamaño tarjeta*/
    .tl-content {
        margin-left: 0;
        padding: 1.6m;
        width: 47.5%;
    }

    /*Flechita izquierda*/
    .tl-content:before {
        top: 5px;
        left: 100%;
        border-color: transparent;
        border-left: 10px solid rgba(255, 174, 0);
    }

    /*Posición derecha de tarjeta*/
    .tl-block:nth-child(even) .tl-content {
        float: right;
    }

    /*Flechita derecha*/
    .tl-block:nth-child(even) .tl-content:before {
        left: auto;
        right: 100%;
        border-color: transparent;
        border-right: 10px solid rgba(255, 174, 0);
    }

    /*Círculos linea tiempo*/
    .tl-point {
        position: absolute;
        top: 14px;
        left: 49.6%;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        box-shadow: 0 0 0 5px rgba(255, 174, 0);
        background-color: white;
    }

    .tl-date {
        position: absolute;
        text-align: left;
        width: 100%;
        left: 110%;
        top: -5px;
        font-size: 1.2rem;

    }

    .tl-block:nth-child(even) .tl-date {
        left: auto;
        right: 110%;
        text-align: right;
    }

}

/*------------------------------  Fin CV --------------------------------*/