/*Copyright by Antonio Romero Bravo*/

body {
    min-width: 350px;
    background-color: rgba(0, 0, 0, 0.5);
    background-position: center 0px;
    background-repeat: no-repeat;
    background-size: 2600px;
    background-image: url("../img/fondo.jpg");
    background-blend-mode: luminosity;

}

section {
    color: rgba(255, 174, 0);
    text-align: center;
}

div {
    min-width: 300px;
    min-height: 80px;
    color: rgb(0, 0, 0);
    background-color: rgba(255, 166, 0, 0.5);
    font-size: 1em;
    /*margin: 1px 2px;*/
    text-align: center;
    /*border: 1px black solid;*/
    /*padding: 2px 1px;*/
    border-radius: 10px;
    border: 1px white solid;
}

/*NAVBAR --------Barra de navegación-----------------------*/
.sin_borde {
    border-radius: 0px;
    border: none;
    background-color: rgba(255, 174, 0);
}

/*Botón navbar en modo colapsado*/
.navbar-toggler {
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: rgba(255, 174, 0);
    border: 1px gray solid;
}

/*Controla el area del botón colapsado*/
.navbar {
    margin-top: -10px;
    border: none;
    min-width: 350px;
    background-color: rgba(0, 0, 0, 0);
}

/*Area del menu/enlaces */
.collapse {
    max-width: 1320px;
    margin: auto;
    padding: 10px;
    /*border: 2px red solid;*/
}

.navbar-collapse {
    align-items: center;
    justify-content: space-between;
}

@media screen and (max-width: 767px) {
    .icon_nav {
        display: none;
    }
}

/*HEAD ------- Cabecera ----------------------------------------*/
.container {
    margin-bottom: 10px;
}

.primer_c {
    margin-top: 90px;
}











.row {
    background-color: rgba(252, 251, 187, 0.5);
    margin: 5px 0px 3px 0px;

}

.col {
    background-color: rgb(202, 202, 202, 0.5);
    margin: 5px 3px 3px 3px;
}

/*Iconos de bootstrap - tratados como texto*/
.bi {
    font-size: 50px;
    color: whitesmoke;
    margin: 10px;
}

.foot-menu {
    min-height: 200px;
    border-radius: 0px;
    border: none;
    background-color: rgba(255, 166, 0, 0.5);
    margin-top: 10px;
}