/*Copyright by Antonio Romero Bravo*/
/*Configuración inicial*/
body {
    min-width: 350px;
    background-color: rgba(0, 0, 0, 0.5);
    background-position: center 0px;
    background-size: 2600px;
    background-image: url("../img/fondo.jpg");
    background-blend-mode: luminosity;
    background-attachment: fixed;

    display: flex;
    flex-direction: column;
    align-items: center;
}

/*Fonts ------------------------*/
h1 {
    font-size: 3rem;
    font-family: 'Cinzel', serif;
}

h2 {
    font-size: 2.5rem;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

p {
    font-size: 1.3rem;
    font-family: 'PT Sans', sans-serif;
}

/*Fondos rellenos*/
.img_back {
    background-image: url("../img/degradados.png");
    background-position: center 0px;
    background-attachment: fixed;
    background-blend-mode: soft-light;
}


section {
    color: rgba(255, 174, 0);
    width: 100%;
    min-width: 350px;
    text-align: center;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*Espaciado interior de contenedor DIV*/
div {
    padding: 25px;
}

/*NAVBAR --------Barra de navegación-----------------------*/
.sin_borde {
    border: none;
    background-color: rgba(255, 174, 0);
    padding: inherit;
}

/*Botón navbar en modo colapsado*/
.navbar-toggler {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 25px;
    background-color: rgba(255, 174, 0);
    border: 1px rgb(255, 255, 255) solid;
}

/*Controla el area del botón colapsado*/
.navbar {
    margin-top: -10px;
    border: none;
    min-width: 300px;
    background-color: rgba(0, 0, 0, 0);

}

/*Area del menu/enlaces */
.collapse {
    max-width: 1024px;
    margin: auto;
    padding: 10px;
}

.navbar-collapse {
    align-items: center;
    justify-content: space-between;
}

.navbar-brand {
    font-family: 'Cinzel', serif;
}



@media screen and (max-width: 767px) {
    .icon_nav {
        display: none;
    }
}



/*Hero ---------------------------------------------*/
.hero {
    max-width: 1024px;
    color: white;
    background-color: rgba(255, 166, 0, 0.5);
    text-align: center;
    text-shadow: 3px 3px 3px black;
    border-radius: 10px;
    border: 1px white solid;
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img-hero {
    border-radius: 50%;
    width: 300px;
    height: 300px;
    border: 5px rgba(255, 255, 255, 0.301) solid;
    display: flexbox;
    align-items: center;
}



.img_skills {
    margin: 0px 75px;
    max-width: 800px;
    min-width: 350px;
}

.h_text {
    max-width: 500px;
    margin: auto;
}

/*About me -------------------------------------*/

.back_yellow {
    padding: 20px;
    color: black;
    background-color: rgba(255, 215, 120, 0.7);
    border-top: 4px rgba(255, 174, 0) solid;
    border-bottom: 4px rgba(255, 174, 0) solid;
}

.back_yellow h2 {
    font-weight: bold;
}

.area_am {
    width: 100%;
    padding: inherit;
}

.about_me {
    max-width: 500px;
    margin: auto;
}

/*Skill ------------------------------------------*/
.back_black {
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.25);
    border-top: 4px rgb(255, 255, 255) solid;
    border-bottom: 4px rgb(255, 255, 255) solid;
}

.back_black h2 {
    font-weight: bold;
}

.orden_sk {
    margin: auto;
    display: flex;
    flex-wrap: wrap;

}

.cont_sk {
    flex: 1 1 300px;
}

/*Iconos de bootstrap - tratados como texto*/
.bi {
    font-size: 50px;
    color: whitesmoke;
    margin: 10px;
}



/*Foot*/
.stylefoot {
    width: 100%;
    padding: 25px;
    background-color: rgba(255, 166, 0, 0.5);
    color: white;

}

.foot {
    margin: auto;
    padding: 0;
    display: flex;
    justify-content: center;

}

.foot p {
    font-size: 0.8em;
}


@media screen and (max-width: 350px) {

    .hero {
        margin-left: 75px;
    }

    .area_am {
        min-width: 450px;
        padding-left: 50px;
        margin-left: 25px;
    }

    .stylefoot {
        min-width: 450px;
        padding-left: 100px;
        margin-left: 25px;
    }
}